*,
*::after,
*::before {
    box-sizing: border-box;
}

.webpage-container {
    display: grid;
}

.header {
    background-color: lightcoral;
}

img {
    width: 90px;
}

.sidebar {
    background-color: lightblue;
}
